<h1>Listing Posts</h1>

<% @posts.in_groups_of(3) do |group| %>
  <div class="row">
    <% group.compact.each do |post| %>
      <div class="col-md-4">
        <%= image_tag post.picture_url(:thumb) if post.picture.present? %>
        <h4><%= link_to post.name, post %></h4>
        <%= post.description %>
      </div>
    <% end %>
  </div>
<% end %>