// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
div.container a {
    color: #a1afc9;
}
.container a:hover {
    color: #f55e55;
    background-color: rgba(255, 255, 255, 0);
}

.container input[type="submit"] {
    height: 30px;
    font-size: 13px;
    background-color: f55e55;
    border: none;
    color: #fff;
}

div.container {
    background: rgba(248, 184, 139,.4);
}
